body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: #0f333d;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    background-color: #646464c9;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.about-section {
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 20px;
  }

  .about-section img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  .about-section h1 {
    color: #000000;
  }

  .about-section h5 {
    color: #2d2d2d;
  }

  .about-section p {
    font-size: 1.3em;
    line-height: 1.6;
    color: #424141;
  }

  .project-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #595757;
    border-radius: 10px;
    }

    .projected {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#3c869f;
    border-radius: 10px;
    color: #000000;
    font-family: impact;
    }

    .project {
    margin: 20px;
    text-align: center;
    }

    .project img {
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
    }

    .project h4 {
    color: #d5d3d3;
    margin-bottom: 10px;
    font-family: impact;
    }

    .project p {
    color: #bfbfbf;
    }
